<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="dave9123">
        <meta property="og:title" content="MyGameHub - Developers">
        <script src="https://js.sentry-cdn.com/de776303f0220e53d6ea617980dc6a62.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="assets/styles.css">
        <title>MyGameHub - Developers</title>
        <% if (avatar !== undefined) { %>
        <script>
            document.addEventListener('click', function(event) {
                var profileOptions = document.getElementById('profileOptions');
                var profile = document.getElementById("userprofile");
                if (profile.contains(event.target)) {
                    if (profileOptions.style.display === "none") {
                        profileOptions.style.display = "block";
                    } else {
                        profileOptions.style.display = "none";
                    }
                } else if (profileOptions.style.display === 'block' && !profileOptions.contains(event.target)) {
                    profileOptions.style.display = 'none';
                }
            });
        </script>
        <% } %>
    </head>
    <body>
        <div class="navbar">
            <a href="/"><img src="assets/logo-256.jpg"></a>
            <div class="right-navbar">
                <a href="developers">Developers</a>
                <a href="documentation">Documentation</a>
                <a href="tos">Terms of Service</a>
                <a href="pp">Privacy Policy</a>
                <a href="settings">Settings</a>
                <% if (avatar == undefined) { %>
                <a href="login">Login</a>
                <% } %>
                <% if (avatar !== undefined) { %>
                <img id="userprofile" src="<%= avatar %>">
                <% } %>
            </div>
            <% if (username !== undefined) { %>
            <div id="profileOptions" style="display: none;">
                <p>Logged in as <%= username %></p>
                <a href="gameactivity">View Game Activity</a>
                <a href="logout">Log Out</a>
            </div>
            <% } %>
        </div>
        <div class="content-container">
            <container>
                <h3>Developers</h3>
                <p>dave9123 - coded stuff <i>a totally great styler 😉</i> <a href="https://discord.com/users/781708312466554940">Discord</a> <a href="https://github.com/dave9123">GitHub</a></p>
                <p>Michael - made the logo <a href="https://discord.com/users/772639576875073556">Discord</a></p>
            </container>
        </div>
    </body>
</html>