<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="dave9123">
        <meta property="og:title" content="MyGameHub - Settings">
        <script src="https://js.sentry-cdn.com/de776303f0220e53d6ea617980dc6a62.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="assets/styles.css">
        <title>MyGameHub - Settings</title>
        <% if (avatar !== undefined) { %>
        <script>
            document.addEventListener('click', function(event) {
                var profileOptions = document.getElementById('profileOptions');
                var profile = document.getElementById("userprofile");
                if (profile.contains(event.target)) {
                    if (profileOptions.style.display === "none") {
                        profileOptions.style.display = "block";
                    } else {
                        profileOptions.style.display = "none";
                    }
                } else if (profileOptions.style.display === 'block' && !profileOptions.contains(event.target)) {
                    profileOptions.style.display = 'none';
                }
            });
        </script>
        <% } %>
    </head>
    <body>
        <div class="navbar">
            <a href="/"><img src="assets/logo-256.jpg"></a>
            <div class="right-navbar">
                <a href="developers">Developers</a>
                <a href="documentation">Documentation</a>
                <a href="tos">Terms of Service</a>
                <a href="pp">Privacy Policy</a>
                <a href="settings">Settings</a>
                <% if (avatar == undefined) { %>
                <a href="login">Login</a>
                <% } %>
                <% if (avatar !== undefined) { %>
                <img id="userprofile" src="<%= avatar %>">
                <% } %>
            </div>
            <% if (username !== undefined) { %>
            <div id="profileOptions" style="display: none;">
                <p>Logged in as <%= username %></p>
                <a href="gameactivity">View Game Activity</a>
                <a href="logout">Log Out</a>
            </div>
            <% } %>
        </div>
        <div class="content-container">
            <container>
                <h3>Settings</h3>
                <form class="settings" id="settings" onsubmit="return update(event);">
                    <p>Use Flashpoint zip? <select id="flashpointZip" name="flashpointZip">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select></p>
                </form>
            </container>
        </div>
        <script>
            document.getElementById("flashpointZip").value = localStorage.getItem("useflashpointzip") || false;
            function update(event) {
                event.preventDefault();
                useflashpointzip = document.getElementById("flashpointZip").value
                if (useflashpointzip === "true") {
                    localStorage.setItem("useflashpointzip", "true");
                } else if (useflashpointzip === "false") {
                    localStorage.setItem("useflashpointzip", "false");
                } else {
                    alert("An error occurred. Please try again.")
                }
            }
            document.getElementById("settings").addEventListener("change", update);
        </script>
    </body>
</html>