<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://js.sentry-cdn.com/de776303f0220e53d6ea617980dc6a62.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="assets/styles.css">
        <title>MyGameHub - Terms of Service</title>
        <script src="assets/script.js"></script>
    </head>
    <body>
        <div class="navbar">
            <a href="/"><img src="assets/logo-256.jpg"></a>
            <div class="right-navbar">
                <a href="developers">Developers</a>
                <a href="documentation">Documentation</a>
                <a href="tos">Terms of Service</a>
                <a href="pp">Privacy Policy</a>
                <a href="settings">Settings</a>
            </div>
        </div>
        <div class="content-container">
            <container>
                <h1>Terms of Service</h1>
                <p>
                    By accessing and using our website, you agree to comply with and be bound by the following terms and conditions of use. Please read these terms carefully before using our website.<br/>
                    <ul><li>Acceptance of Terms: By accessing or using the services provided by MyGameHub, you agree to be bound by these Terms of Service, whether or not you are a registered user.</li><br/>
                    <li>User Conduct: You agree to use MyGameHub solely for lawful purposes and in accordance with these Terms of Service. You must not use MyGameHub in any way that violates any applicable laws or regulations.</li><br/>
                    <li>Privacy Policy: Your privacy is important to us. Please review our Privacy Policy, which explains how we collect, use, and disclose information from our users.</li><br/>
                    <li>Third-Party Content: MyGameHub may contain links to third-party websites or services that are not owned or controlled by us. We have no control over, and assume no responsibility for, the content, privacy policies, or practices of any third-party websites or services.</li><br/>
                    <li>Disclaimer of Warranty: MyGameHub is provided "as is" and without warranties of any kind, whether express or implied. We do not warrant that MyGameHub will be uninterrupted or error-free, nor do we make any warranty as to the accuracy, completeness, or reliability of any content available on MyGameHub.</li><br/>
                    <li>Limitation of Liability: In no event shall MyGameHub be liable for any indirect, incidental, special, consequential, or punitive damages arising out of or in connection with your use of MyGameHub, whether based on warranty, contract, tort, or any other legal theory, even if we have been advised of the possibility of such damages.</li><br/>
                    <li>Changes to Terms: We reserve the right to modify or replace these Terms of Service at any time. Any changes will be effective immediately upon posting the revised Terms of Service on MyGameHub. Your continued use of MyGameHub after any such changes constitutes your acceptance of the new Terms of Service.</li><br/>
                    <li>Removal Notices & DMCA Information: If you own the copyrights to a title and would like to request removal please note that we process all correct and complete removal requests.</li><br/>
                    <li>Contact Us: If you have any questions about these Terms of Service, please contact us at <a href="mailto:dave.turmawan@outlook.com">dave.turmawan@outlook.com</a>.</li>
                </ul></p>
            </container>
        </div>
    </body>
</html>